#root {
  min-width: 480px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  background: #000;
  opacity: .5;
}

.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  z-index: 1000;
}

#new-post {
  resize: none;
}

.error {
  position: absolute;
  bottom: -20px;
  left: 0;
  font-style: italic;
  font-size: 11px;
}
